<%= simple_form_for @job ,   html: { class: 'form-horizontal' } , :wrapper => :horizontal_form,  :wrapper_mappings => {    check_boxes: :horizontal_radio_and_checkboxes,    radio_buttons: :horizontal_radio_and_checkboxes,    file: :horizontal_file_input,    boolean: :horizontal_boolean } do |f| %>

       <h4 class="instruction"> &nbsp; &nbsp;&nbsp;第一步，告訴我們詳細資訊 </h4>


       <br><br>


    <%= f.input :title, :label => "Job Title", :hint => "“Senior Designer” or “Rails Programmer”" %>


    <% @categories = Category.all.map{ |c| [c.name, c.id] } %>
  
    <%= f.input :category, :collection => @categories ,    as: :radio_buttons, :checked => @categories[0] %>

    <%= f.input :location, :label => "工作地點", :hint => "“Chicago, IL”, “Stockholm, Sweden”" %>

    <%= f.input :description, :label => "工作敘述", :input_html => { :rows => 10 } %>

    <%= f.input :apply_instruction, :label => "如何應徵", :hint => "Example: Send a resume to jane@company.com" , :input_html => { :rows => 3 } %>



    <h4 class="instruction"> &nbsp; &nbsp;&nbsp;介紹你的公司 </h4>


       <br><br>


    <%= f.input :company_name, :input_html => { :class => "col-lg-4"}, :label => "公司 / 組織名稱", :hint => "Enter your company or organization’s name."%>

    <%= f.input :url, :label => "URL" %>
    <%= f.input :email, :hint => "This is where we’ll send your receipt and confirmation email." %>


  <%= f.button :submit %>
<% end %>




