
<h2> <%= @job.title %> @ <%= render_job_company_name(@job) %> </h2>

<div class="group">
  <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-calendar"> </i> 刊登日期 <%= @job.created_on.to_s(:long) %> </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-map-marker"></i> 上班地點 <%= @job.location %> </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:grey; font-weight:bold;" class="pull-right">
   <%= render_job_warning(@job.lower_bound) %>
   <%= render_job_salary(@job.lower_bound)%>  ~ <%= render_job_salary(@job.higher_bound)%> 
   </span>
</div>



<hr>

<div class="job-desc">
  <p>
    <%= render_job_description(@job) %>
  </p>

</div>
<br>

<div class="well">
  <h4> 應徵方法 </h4>
  <p>
    <%= render_job_apply_instruction(@job) %>
  </p>

</div>