
  <h2> <%= @job.title %> </h2>

  <span style="color:grey; font-weight:bold;"> <%= @job.created_on.to_s(:short) %> </span>

  <h4> <%= render_job_company_name(@job) %> </h4>

  <h4> 公司地點： <%= @job.location %> </h4>

  <h4> 
    薪水 : <%= render_job_salary(@job.lower_bound)%>  ~ <%= render_job_salary(@job.higher_bound)%>
  </h4>

  <%= render_job_url(@job) %>
  <hr>

  <p>
    <%= render_job_description(@job) %>
  </p>

  <br>

  <div class="well">
    <h4> 應徵方法 </h4>
    <p>
      <%= render_job_apply_instruction(@job) %>
    </p>

  </div>