<%= simple_form_for @job , :url =>  job_path(@job.token) ,  html: { class: 'form-horizontal' } , :wrapper => :horizontal_form,  :wrapper_mappings => {    check_boxes: :horizontal_radio_and_checkboxes,    radio_buttons: :horizontal_radio_and_checkboxes,    file: :horizontal_file_input,    boolean: :horizontal_boolean } do |f| %>


    <h4 class="instruction red"> &nbsp; &nbsp;&nbsp;修改工作資訊 </h4>


    <%= f.input :title, :label => "Job Title", :hint => "“Senior Designer” or “Rails Programmer”" %>

    <% @categories = Category.all.map{ |c| [c.name, c.id] } %>
  
    <%= f.input :category_id, :collection => @categories ,    as: :radio_buttons, :checked => @categories[1] %>


     <%= f.input :lower_bound , :label => '薪水', :wrapper => :prepend_append do  %>
         <%= f.input_field :lower_bound, :as => :string %>
         <%= f.input_field :higher_bound, :as => :string %>
     <% end %>


    <%= f.input :location, :label => "工作地點", :hint => "臺北 / 高雄 / 上海 / ...etc." %>

    <%= f.input :description, :label => "工作敘述", :input_html => { :rows => 10, :data => { :provide => "markdown"} }, :hint => "使用 Markdown 語法" %>

    <%= f.input :apply_instruction, :label => "如何應徵", :hint => "Example: Send a resume to hr@mycompany.com" , :input_html => { :rows => 3 } %>


    <h4 class="instruction"> &nbsp; &nbsp;&nbsp;介紹你的公司 </h4>

    <br><br>


    <%= f.input :company_name, :input_html => { :class => "col-lg-4"}, :label => "公司 / 組織名稱", :hint => "Enter your company or organization’s name."%>

    <%= f.input :url, :label => "URL" %>
    <%= f.input :email, :hint => "This is where we’ll send your receipt and confirmation email." %>
    <%= f.input :is_published, :label => "上架" %>
    <%= f.input :token, :as => :hidden, :valie => @job.token if !@job.new_record? %>
<hr>

<div class="form-group text optional job_description">
  <label class="text optional col-sm-1 control-label" for="job_description"></label>
  <div class="col-sm-11">
      <%= f.submit "儲存" , :class => "btn btn-lg btn-danger" %>
  </div>
</div>


<% end %>




