

<div class="hero-block">
  <div class="hero-inner">
    <h1 class="hero-title"> 66K 工作網 </h1>

    <div class="hero-desc">
      <p class="lead">
        <%= link_to("66K 工作網", "/") %> 是一個提供 66K+ 新台幣工作機會的求職網站。
      </p>
      <p class="lead">
        我們希望藉由這個網站，能讓大家找到且應徵上高薪且優質的工作。 憑藉自己的努力和天份也會變 Winner。
      </p>
    </div>

  </div>
</div>

<%= render :partial => "jobs/search_bar" %>

<br>

<div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <% @categories.each_with_index do |category, i| %>
      <% active_flag = "active" if i == 1 %>

        <%= content_tag :li , :class => active_flag do %>
     
          <%= link_to(category.name, "#category-#{i}", :data => { :toggle => :tab } ) %>
        <% end %> 
      <% end %>
    </ul>
    <div id="myTabContent" class="tab-content">

      <% @categories.each_with_index do |category, i| %>
      <% active_flag = "active" if i == 1 %>

        <%= content_tag :div , :class => "#{active_flag} tab-pane fade in", :id => "category-#{i}" do %>
  
         
           <h3> <%= link_to(category.name, category_path(category), :style => "color: black;") %> <%= link_to(image_tag("rss-feed.png"), category_path(category, params.merge(:format => :rss) )) %> </h3>  


          <%= render_cell :category, :jobs, :category => category %>
        <% end %> 
      <% end %>
    </div>
  </div>

