<div class="new-job">
  <br><br>


  <h3> STEP 2 : 預覽你的徵才廣告 </h3>

  <div style="text-align:right;">
    <%= link_to("看起來很不錯，繼續前進到步驟 3 ", final_jobs_path(:token => @job.token ) , :class => "btn btn-large btn-danger") %> or <%= link_to("回去做些小改動", new_job_path(:token => @job.token) , :class => "underline" )%>

  </div>
  <hr>

  <br><br>


  <h2> <%= render_job_title(@job) %> </h2>

  <h4> <%= @job.company_name %> </h4>

  <h4> 上班地點： <%= @job.location %> </h4>

  <br>

  <p>
    <%= render_job_description(@job.description) %>
  </p>

  <br>

  <div class="well">
    <h4> 應徵方法 </h4>
    <p>
      <%= render_job_description(@job.apply_instruction) %>
    </p>

  </div>


  <hr>

  <div style="text-align:left;">
    <%= link_to("看起來很不錯，繼續前進到步驟 3 ", final_jobs_path(:token => @job.token ) , :class => "btn btn-large btn-danger") %> or <%= link_to("回去做些小改動", new_job_path(:token => @job.token) , :class => "underline" )%>

  </div>

  <br>
</div>
