
<h2> <%= @day_job.title %> @ <%= render_job_company_name(@day_job) %> </h2>

<div class="group">
  <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-calendar"> </i> 刊登日期 <%= @day_job.created_on.to_s(:long) %> </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-map-marker"></i> 上班地點 <%= @day_job.location %> </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color:grey; font-weight:bold;" class="pull-right">
   <%= render_day_job_salary(@day_job.lower_bound)%>  ~ <%= render_day_job_salary(@day_job.higher_bound)%> 
   </span>
</div>



<hr>

<div class="job-desc">
  <p>
    <%= render_job_description(@day_job) %>
  </p>

</div>
<br>

<div class="well">
  <h4> 應徵方法 </h4>
  <p>
    <%= render_job_apply_instruction(@day_job) %>
  </p>

</div>