<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= Setting.app_name %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


       <li> <%= link_to("關於本站", "/pages/about") %>       </li>
       
       <li>          <%= link_to("訂閱工作快遞", new_subscription_path) %>       </li>
    
       <li> <%= link_to("本站粉絲頁", "https://www.facebook.com/66kjobs", :target => "_blank") %>  </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

<li>
      <div class="social"> <%=  fb_like(Setting.domain) %>  </div>
</li>
       


          </ul>
        </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>