<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> 66K Jobs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to("Jobs", jobs_path) %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_user.email %>  
            <b class="caret"></b>
          </a>


          <ul class="dropdown-menu">

            <% if current_user.admin? %>

            <li> <%= link_to("Admin Panel", admin_products_path ) %> </li>

            <li class="divider"></li>
            <% end %>


            <li> 
              <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>
            </li>

          </ul>
        </li>


        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>