<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "application" %>

  <%= render_page_title_tag %>

  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>

  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container">

    <%= render "common/navbar" %>

    <%= notice_message %>
    
    <%= yield %>

    <%= render :partial => "common/facebook_js" %>
    <%= render :partial => "common/bootstrap_modal" %>
    <%= render :partial => "common/google_analytics" %>

  <%= javascript_include_tag "application" %>

  <%= yield :javascripts %>

  </div>
</body>
</html>
