<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title> ArtStore </title>

</head>
<body>

  <div class="container">

    <%= render "common/navbar" %>

    <%= notice_message %>
    
    <%= yield %>

  </div>
</body>
</html>
